<div class="border border-2 p-4 border-success my-4 d-flex justify-content-between">
  <div>
    <h1 class="mb-0 text-success">
      <%= group.name %>
    </h1>

    <p class="display-1">
      <%= group.icon %>
    </p>
  </div>


   <h1 class='text-success mb-0'>$ <%= group.total_amount %></h1>

</div>
