<h1 class="text-primary text-center mt-5 mb-3">Add New Category</h1>

<%= render "form", group: @group %>

<div class="d-flex justify-content-center">
  <%= link_to "Back to groups", groups_path, class: "btn btn-outline-primary mt-3" %>
</div>